language: perl
perl:
  - "5.10"
before_install:
  - sudo apt-get update -qq
  - sudo apt-get install -qq muscle samtools
install:
  - cpanm -nq --installdeps --with-develop .
before_script:
  - cpanm --quiet --notest --skip-satisfied Devel::Cover Devel::Cover::Report::Codecov
script:
  - perl Build.PL
  - ./Build build
  - cover -test
after_success:
  - cover -report codecov
